.panda-card{
    border: 0px;
}

.panda-card-footer{
    border: 0px;
   background-color: white;
}

.watch-bag-shoes-area img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #ffe5f1;
    border-radius: 1em;

}